<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIETIS CREDIT WEBSITE</title>
</head>
<body>
<header style="align-items: center; background: #dddddd; padding: 10vh">
    <h1>VIETIS CREDIT WEBSITE</h1>

    <nav style="display: flex; gap: 10px;" id="public">
        <button onclick="location.href='/'" th:text="#{Home}">Home</button>
        <button onclick="location.href='/login'" th:text="#{Login}">Login</button>
        <button onclick="location.href='/register'" th:text="#{Register}">Register</button>
    </nav>

    <nav style="display: none; gap: 10px;" id="employee">
        <button onclick="location.href='/'">Home</button>
        <button onclick="location.href='/employee/dashboard'" th:text="#{Information}">Information</button>
        <button onclick="location.href='/employee/employee_score'" th:text="#{Employee}">Employee</button>
        <button onclick="location.href='/employee/department_score'" th:text="#{Department}">Department</button>
        <button onclick="logout()" th:text="#{Logout}">Logout</button>
    </nav>

    <nav style="display: none; gap: 10px;" id="admin">
        <button onclick="location.href='/'" th:text="#{Home}">Home</button>
        <button onclick="location.href='/admin/dashboard'" th:text="#{Employee}">Employee</button>
        <button onclick="location.href='/admin/department'" th:text="#{Department}">Department</button>
        <button onclick="logout()" th:text="#{Logout}">Logout</button>
    </nav>
</header>

</body>
</html>
