<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIETIS CREDIT WEBSITE</title>
</head>
<body>
<header style="align-items: center; background: #dddddd; padding: 10vh">
    <h1>VIETIS CREDIT WEBSITE</h1>

    <nav style="display: flex; gap: 10px;">
        <button onclick="location.href='/'">Home</button>
        <button onclick="logout()">Logout</button>
    </nav>
</header>

<!-- Move the script to the end of the body -->


</body>
</html>
<script>
    function logout() {
        // Remove the token from localStorage
        localStorage.removeItem("token");

        // Redirect to the login page
        location.href = '/login';
    }
</script>