<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <th:block th:replace="../fragments/header :: header"></th:block>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1;
            padding: 20px;
        }

        form {
            margin-bottom: auto;
        }

        footer {
            background-color: #dddddd;
            padding: 10px;
            text-align: center;
            margin-top: auto;
        }
    </style>
</head>
<body>

<div class="container">
    <h2>Register</h2>

    <form id="registerForm">
        <div>
            <label for="name">#{Name}:</label>
            <input type="text" id="name" name="name" placeholder="Enter your name" required>
        </div>

        <div>
            <label for="mail" th:text=''>#{Email}:</label>
            <input type="email" id="mail" name="mail" placeholder="Enter your email" required>
        </div>

        <div>
            <label for="gender" th:text=''>#{Gender}:</label>
            <select id="gender" name="gender" required>
                <option value="true" th:text=''>#{Male}</option>
                <option value="false" th:text=''>#{Female}</option>
            </select>
        </div>

        <div>
            <label for="birthday" th:text=''>#{Birthday}:</label>
            <input type="date" id="birthday" name="birthday" required>
        </div>

        <div>
            <label for="phoneNumber" th:text=''>#{Phone_Number}:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Enter phone number" required>
        </div>

        <div>
            <label for="password" th:text=''>#{Password}:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>

        <div>
            <button type="submit" th:text=''>#{Register}</button>
        </div>
    </form>

    <div id="message"></div>

</div>

<script>
    // Handle the form submission
    document.getElementById('registerForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent form from submitting the traditional way

        // Collect form data
        const name = document.getElementById('name').value;
        const mail = document.getElementById('mail').value;
        const password = document.getElementById('password').value;
        const gender = document.getElementById('gender').value;
        const birthday = document.getElementById('birthday').value;

        // Create request payload
        const requestData = {
            name: name,
            mail: mail,
            password: password,
            gender: gender,
            birthday: birthday
        };

        fetch('/api/public/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData)
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Registration failed.');
                }
            })
            .then(data => {
                localStorage.setItem('token', data.token);

                window.location.href = '/employee/dashboard';
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Registration failed.');
            });
    });
</script>
<th:block th:replace="../fragments/footer :: footer"></th:block>

</body>
</html>
